In [ ]:
Python Operators
Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators

Python Arithmetic Operators :
Arithmetic operators are used with numeric values to perform common mathematical operations

Operator	Name	        Example	
+	        Addition	    x + y	
-	        Subtraction	    x - y	
*	        Multiplication	x * y	
/	        Division	    x / y	
%	        Modulus	        x % y	
**	        Exponentiation	x ** y	
//	        Floor division	x // y

In [3]:
Saleprice = 40
Costprice = 25
Profit = Saleprice - Costprice
print(Profit)

Saleprice = Costprice + Profit
print(Saleprice)

Qty = 10
print(Profit*Qty)

15
40
150
20
50
400

In [4]:
Saleprice = 50
Costprice = 30
profit = Saleprice - Costprice
print(profit)

saleprice = Costprice + profit
print(saleprice)

Qty = 20
print(profit*Qty)

20
50
400

In [ ]:
# I = PTR/100

myPrinciple = 1000
myTime = 24
myROI = 3

myInterest = myPrinciple*myTime*myROI/100
print(myInterest)

In [5]:
aprincipe = 10000
atime = 34
aroi = 10

ainterest = aprincipe*atime*aroi/100
print(ainterest)

34000.0

In [7]:
# % Modulus gives the reminder when two values are divided

print(5%2)
print(4%2)
print(25638%259)

1
0
256

In [8]:
print(256**2)

65536

In [9]:
print(100//4)
print(100/7)

# floor will round off the result to the nearest whole number.
print(100//7)

25
14.285714285714286
14

In [10]:
Python Assignment Operators
Assignment operators are used to assign values to variables:

Operator	Example	    Same As	
=	        a = 5	    a = 5	
+=	        a += 10	a = a + 10	
-=	        a -= 10	a = a - 10	
*=	        a *= 10	a = a * 10	
/=	        a /= 10	a = a / 10	
%=	        a %= 10	a = a % 10	
//=	        a //= 10	a = a // 10	
**=	        a **= 10	a = a ** 10	


Python Comparison Operators
Comparison operators are used to compare two values:

Operator	Name	                    Example	
==	        Equal	                    x == y	
!=	        Not equal	                x != y	
>	        Greater than	            x > y	
<	        Less than	                x < y	
>=	        Greater than or equal to	x >= y	
<=	        Less than or equal to	    x <= y

SyntaxError: invalid syntax (2300104410.py, line 1)

In [ ]:
Name1 = "Ashok"
Name2 = "ashok"

print(Name1==Name2)
print(Name1!=Name2)

print(5>2)

In [13]:
Name1 = "naga"
Name2 = "shannu"

print(Name1== Name2)
print(Name1!=Name2)
      
print(6<2)

False
True
False

In [ ]:
Python Logical Operators
Logical operators are used to combine conditional statements:

Operator	Description	
and 		Returns True if both statements are true	
or		Returns True if one of the statements is true	
not		Reverse the result, returns False if the result is true

In [14]:
Name1 = "Venkat"
Name2 = "Venkat1"

print(Name1==Name2 and 5<2)
print(Name1==Name2 or 5<2)
print(Name1==Name2 or 5>2)
print(not(Name1==Name2 or 5>2))

False
False
True
False

In [16]:
Name1 = "sai"
Name2 = "kiran"

print(Name1==Name2 and 5<2)
print(Name1==Name2 or 2==2)
print(not(Name1==Name2 or 5<2))

False
True
True

In [ ]:
Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operators 
is          Returns true when both variables are same
is not      Returns true when both variables are not same

In [17]:
print(Name1 is Name2)
print(Name1==Name2)

print(Name1 is not Name2)
print(Name1 != Name2)

False
False
True
True

In [19]:
a = 4
b = 3.14
c = "Durga"
type(a)

int

In [2]:
type(b)

float

In [20]:
type(c)

str

In [4]:
d = b
type(d)

float

In [5]:
d = int(b)
type(d)

int

In [6]:
d = int(b)
type(d)

int

In [7]:
#add 2 numbers 
print(3 + 6)

9

In [8]:
print("durga")
print("shannu")

durga
shannu

In [9]:
a = 6
b = 9
print(a,b, sep = '-')

6-9

In [10]:
print(a, b, sep='@')

6@9

In [11]:
print(a, b, sep = '\n')

6
9

In [12]:
a = input()

In [1]:
num1 = input("Please enter the first number")
num2 = input("please enter the first number")

In [21]:
type(c)

str