In [ ]:
Tuple
Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
"""
Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuples are indexed, they can have items with the same value:
"""

In [2]:
myfruittuple = ("apple", "Banana", "grapes")
mylist = list(myfruittuple)  #convert tuple to list
print(mylist) 
mylist.append("KiWi")
print(mylist)

['apple', 'Banana', 'grapes']
['apple', 'Banana', 'grapes', 'KiWi']

In [3]:
#✅ Tuples (Ordered, Immutable)
# 1. Creating a tuple
colors = ('red', 'green', 'blue')
print(colors)

('red', 'green', 'blue')

In [4]:
# 2. Accessing elements
print(colors[0])

red

In [7]:
# 3. Nested tuples
nested = (1, (2, 3), 4)
print(nested[1][1])

3

In [6]:
# 4. Tuple unpacking
a, b, c = colors
print(a, b, c)

red green blue

In [7]:

# 5. Iterating a tuple
for color in colors:
    print(color)

red
green
blue

In [1]:
# 6. Using tuple with functions

def get_info():
    return ("Alice", 25)
name, age = get_info()
print(name, age)

Alice 25

In [8]:
# 7. Length of a tuple
print(len(colors))

3

In [9]:

# 8. Checking membership

print('red' in colors)

True

In [9]:

# 9. Single element tuple
single = ('only')
print(type(single))

<class 'str'>

In [ ]:

# 10. Tuple concatenation

new_tuple = colors + ('yellow')

NameError: name 'colors' is not defined

In [ ]:
#Tuples – 10 Homework Problems
#1. Create a tuple of 4 fruits and print the first and last fruits.
myfruits = ("apple", "banana", "custard", "dragon")
print(myfruits[0], myfruits[3])

In [12]:
#2. Check whether "apple" is in the tuple.


print("apple" in mylist)

True

In [13]:
#3. Create a single-element tuple with value "hello" and print its type.
single_element = "hello"
print(type(single_element))

<class 'str'>

In [15]:
#5. Unpack a tuple of (100, 200, 300) into three variables and print them.
X, Y, Z = (100, 200,300)
print(X, Y, Z)

100 200 300

In [16]:

#9. Create two tuples and concatenate them.
A = ("apple", "banana")
B = ("coconut", "Dragon")
xconcatenate = A + B
print(xconcatenate)

('apple', 'banana', 'coconut', 'Dragon')

In [18]:

#4. Find the length of a tuple that stores 5 items.

numbers = (22,35,62,25,96)
print(len(numbers))

5

In [13]:
#6. Create a tuple with your name and age, and print both.

personalinfo = ("Durga", 26)
print(personalinfo)

('Durga', 26)

In [24]:

#7. Try modifying an element in a tuple and observe the result.


num = (1, 2, 2, 4)
num[2] = 3
print(num)

TypeError: 'tuple' object does not support item assignment

In [14]:
#8. Convert a list ['a', 'b', 'c'] to a tuple and print it.


mylist = [1, 2, 3]
mytuple = tuple(mylist)
print(mytuple)
mytuple = (4, 5, 6)
mylist = list[mytuple]
print(mylist)

(1, 2, 3)
list[4, 5, 6]

In [17]:
mylist1 = [22, 34, 45]
mytuple1 = tuple(mylist1)   # list to tuple convert
print(mytuple1)


mytuple2 =  (85, 65, 96)
mylist2 = list[mytuple2]
print(mylist2)

(22, 34, 45)
list[85, 65, 96]

In [27]:
#10.Use a for loop to print all elements in a tuple.


for color in colors:
    print(color)

red
green
blue

In [18]:
Cars = ("Maruti","kia","Honda","Benz")
print(Cars)

('Maruti', 'kia', 'Honda', 'Benz')

In [19]:
List_Cars = list(Cars)
print(List_Cars)

List_Cars.append("Bently")
print(List_Cars)

['Maruti', 'kia', 'Honda', 'Benz']
['Maruti', 'kia', 'Honda', 'Benz', 'Bently']

In [20]:
Cars = tuple(List_Cars) 

print(Cars)

('Maruti', 'kia', 'Honda', 'Benz', 'Bently')

In [24]:
for car  in Cars:
    print(car)

Maruti
kia
Honda
Benz
Bently

In [ ]:
Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.