In [ ]:

A variable can have a short name (like x and y) or a more 
descriptive name (age, carname, total_volume).

Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

myname = "Venkat"
Myname = "Venkat"
my_name ="venkat"
x= "abc"
X="abc"


Camel Case
Each word, except the first, starts with a capital letter:

myVariableName = "Venkat"

Pascal Case
Each word starts with a capital letter:

MyVariableName = "Venkat"

Snake Case
Each word is separated by an underscore character:

my_variable_name = "Venkat"

"""

Hello World Python

In [36]:
print("this is my first Python Program")

this is my first Python Program

In [37]:
# this is for single  commenting line 
"""
this 
is for multiple
lines
"""

'\nthis \nis for multiple\nlines\n'

In [13]:
myfirstname = "Durga"
mylastname = "Matta"
print(myfirstname)
print(myfirstname + "  @ " + mylastname)
print(type(myfirstname))

Durga
Durga  @ Matta
<class 'str'>

In [39]:
saleprice = 22
print(type(saleprice))

<class 'int'>

In [40]:
CostPrice = 11.50
print(type(CostPrice))

<class 'float'>

In [41]:
ProductName = str("samsung")
ProductPrice = int(30)
ProductQty = float(11.50)
print(ProductQty)

11.5

In [14]:
x = 12
y = 20
print(x+y)
print(str(x)+str(y))

32
1220

In [ ]:
#complex numbers
x = 3+4j
y = 1-2j
print(x+y)

(4+2j)

In [44]:
hisAge = 26
print("his age is"+ str(hisAge))

his age is26

In [45]:
batchno = 1234
print(int(1234))

1234

In [ ]:
#length
CompanyName = "Cognizant"
print(len(CompanyName))

9

In [47]:
mylength = len(CompanyName)
print(mylength)
print("The length of the ConpanyName is " + str(mylength))

9
The length of the ConpanyName is 9

In [48]:
mytext = "Today is a great day to start"
print("day" in mytext)
print("check" in mytext)

True
False

In [50]:
#slicing

Greeting = "Good Morning"
print(Greeting[1:6]) #slicing the required characters
print(Greeting[0:4]) #slicing from the beginnning
print(Greeting[5:1])

ood M
Good

In [15]:
durga = "shiva"
print(durga[0:3])
print(durga[1:5])

shi
hiva

In [54]:
sometext = "This is a random text"
print(sometext.strip())

This is a random text

In [55]:
myname = "durga"
print(myname)
myname = "shiva"
print(myname)

durga
shiva

In [56]:
myfname = "srinu"
mymname = "lakshmi"
print(myfname + " "+mymname)

srinu lakshmi

In [57]:
CostPrice = 45
profit = 10
saleprice = CostPrice + profit
print(saleprice)

55

In [24]:
#if statement - an if condition runs a block of code only if a given condition is true.
num = 10
if num > 0:
    print("positive number")

positive number

In [ ]:
#if -else statement - it executes 1 block if the condition is true , another it is false
num = -5
if num > 0:
    print("non-negative")
else:
    print("Negative")

Negative

In [4]:
#f-elif-else statemnet - when you have multiple conditions to check in sequence
temp = 30
if temp > 35:
    print("hot")
elif temp > 20:
    print("warm")
else:
    print("cold")

warm

In [5]:
#nested if statement - an if block inside another if block to check multiple conditions hierachically
x = 10
if x > 5:
    if x < 15:
        print(" x is between 5 and 15")

 x is between 5 and 15

In [ ]:
#while loop executes a block as long as condition is true
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#While loop with break 
# break exists the loop immediately even if the condition is still true

i = 1
while i <= 20:
    if i <=10:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
i = 0
while i < 10:
    i += 1
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [19]:
#while loop with continue
i = 0
while i < 10:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [25]:
#check even or odd
num = 18
if num% 2 ==0:
    print( "This is {even} number")
else:
    print("odd")

This is {even} number

In [ ]:
#grade checking
Marks = 82
if Marks >= 90:
    print("A+")
elif Marks >= 80:
    print("A")
elif Marks >= 70:
    print("B")
else:
    print("C or lower")

A

In [27]:
#leap year are not
Year = 2025
if(Year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

In [29]:
#print even numbers 2  to 10

i =2 
while i <= 10:
    if i %2 == 0:
        print(i)
        i += 2

2
4
6
8
10

In [28]:
i = 10
while i <= 20:
    if i % 2 == 0:
        print(i)
        i += 2

10
12
14
16
18
20

In [31]:
#factorial
n = 5
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print("factorial:", fact)

factorial: 120

In [29]:
n = 10
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
    print("factorial is :", fact)

factorial is : 1
factorial is : 2
factorial is : 6
factorial is : 24
factorial is : 120
factorial is : 720
factorial is : 5040
factorial is : 40320
factorial is : 362880
factorial is : 3628800

In [34]:
#reverse number
num = 12345
rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10
print("Reversed:", rev)

Reversed: 54321

In [ ]:
num7 = 89918022
rev = 0
while num7 > 0:
    digit = num7 % 10  #89918022% 10 = 2
    rev = rev * 10 + digit # 0+2 =2; 
    num7 = num7 // 10 #floor divison round last number
    print("Reverse numberis:", rev)

Reversenumberis: 2
Reversenumberis: 22
Reversenumberis: 220
Reversenumberis: 2208
Reversenumberis: 22081
Reversenumberis: 220819
Reversenumberis: 2208199
Reversenumberis: 22081998

In [ ]:

Variables are containers for storing data values.

Ex : myName = "Tom"

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [1]:
myname = "Durga"
print(myname)
myname = 22
print(myname)

Durga
22

In [3]:


#You can get the data type of a variable with the type() function.


print(type(myname))

<class 'int'>

In [6]:
Myname = "Naga"
myName ="sai"
myname = "durga"
print(Myname)
print(myName)
print(myname)

Naga
sai
durga

In [ ]:
Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

Camel Case
Each word, except the first, starts with a capital letter:

Ex:
studentName = "Ashok"
companyLocation = "Hyderabad"

Pascal Case
Each word starts with a capital letter:

Ex:
StudentName = "Ashok"
CompanyLocation = "Hyderabad"

Snake Case
Each word is separated by an underscore character:

student_name = "Ashok"
company_location = "Hyderabad"

In [12]:
#prinicpal interest

FirstName, Middlename,  LastName = "Naga", "Sai Durga","Mattaparthi"
print(FirstName, Middlename,LastName)
p,t, r = 50000,2,3
i = p*t*r/100
print(i)

Naga Sai Durga Mattaparthi
3000.0

In [ ]:
Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool

Ex:

myName = Str("Tom")
myRollNo = int(10)
SalePrice = float(12.50)